In [ ]:
# 딕셔너리
# 리스트나 튜플처럼 순차적으로 해당 요소의 값을 구하지 않고 키를 이용하여 값을 얻는다.
# 중복되는 키를 설정하면 마지막 것만 저장

In [ ]:
# 집합
# 중복을 허용하지 않는다.
# 순서가 없다
# Add() : 추가하기
# Update() : 여러 개의 값을 한꺼번에 추가하기
# Remove() : 특정값 제거

In [1]:
dic = {'name': 'ppp', 'phone' : '000-000', 'birth' : '0606'}
dic

{'name': 'ppp', 'phone': '000-000', 'birth': '0606'}

In [2]:
a = {1:'hhh'}
a = {1: 'a'}
a

{1: 'a'}

In [3]:
a['name'] = 'ppp'
a

{1: 'a', 'name': 'ppp'}

In [4]:
a[3] = [1,2,3]
a

{1: 'a', 'name': 'ppp', 3: [1, 2, 3]}

In [5]:
del a[1]
a

{'name': 'ppp', 3: [1, 2, 3]}

In [7]:
del a['name']
a

{3: [1, 2, 3]}

In [8]:
dic = {'문혜영' : '교수', '김연아': '피겨스케이팅', '박지성':'축구'}
dic

{'문혜영': '교수', '김연아': '피겨스케이팅', '박지성': '축구'}

In [9]:
dic['문혜영']

'교수'

In [11]:
dic.keys()

dict_keys(['문혜영', '김연아', '박지성'])

In [12]:
for k in dic.keys():
    print(k)

문혜영
김연아
박지성

In [13]:
s1 = set([1,2,3])
s1

{1, 2, 3}

In [14]:
s2 = set('hello')
s2

{'e', 'h', 'l', 'o'}

In [15]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

print(s1&s2)
print(s1|s2)

{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [16]:
s1-s2

{1, 2, 3}

In [17]:
s2-s1

{7, 8, 9}

In [18]:
s1.add(100)
s1

{1, 2, 3, 4, 5, 6, 100}

In [19]:
s1.update([111,222,333])
s1

{1, 2, 3, 4, 5, 6, 100, 111, 222, 333}

In [20]:

s1.remove(111)
s1

{1, 2, 3, 4, 5, 6, 100, 222, 333}

In [21]:
a = [1,1,1,1,1,1,2,2,2,3,2,3,3,4,4,4]
aset = set(a)  #집합 : 중복데이터 제거
b = list(aset)   #집합의 리스트화
print(aset); print(b)

{1, 2, 3, 4}
[1, 2, 3, 4]