In [1]:
# 문자열
h = 'hello world'
h

'hello world'

In [2]:
h = 'hello "world"'
h

'hello "world"'

In [3]:
a = 'kor'
b = 'ea'

In [4]:
a + b   #문자열 연결

'korea'

In [9]:
a*3    #문자열 반복

'korkorkor'

In [7]:
a + str(10)

'kor10'

In [10]:
 a = [10,20,30,40]
 a

[10, 20, 30, 40]

In [11]:
b = ['as', 'sd', 'df']
b

['as', 'sd', 'df']

In [13]:
a[0]

10

In [14]:
a[1]

20

In [15]:
a[2]

30

In [16]:
a[3]

40

In [17]:
d = list(range(0,10))
d

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
d = list(range(0,20,2)) #2씩 증가ㅇ

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [22]:
# 튜플 
# 리스트와 차이점 : 지정된 값 추가 삭제 변경 불가능
a = (1,2,3)
a

(1, 2, 3)

In [23]:
# 절대요소 변경하면 안될때 사용
a = tuple(range(0,10))
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [29]:
b = tuple(range(20, 0,-1))
b

(20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [30]:
30 in a

False

In [32]:
9 in b

True

In [33]:
100 not in a

True

In [35]:
a = list(range(0, 100, 10))
a

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [36]:
b = [5,6,7,8]
b

[5, 6, 7, 8]

In [37]:

a + b

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 5, 6, 7, 8]

In [38]:
a*3

[0,
 10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 0,
 10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 0,
 10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90]

In [39]:

b*3

[5, 6, 7, 8, 5, 6, 7, 8, 5, 6, 7, 8]

In [40]:
len(a), len(b)

(10, 4)