In [1]:
# 2차원 리스트
a = [[10,20], [30,40], [50,60]]
a

[[10, 20], [30, 40], [50, 60]]

In [3]:
a[0][0]

10

In [4]:
a[1]

[30, 40]

In [5]:
for i,j in a:
    print(i,j)

10 20
30 40
50 60

In [6]:
for i in a:
    for j in i:
        print(j, end=' ')
    print()    # 줄 바꿈

10 20
30 40
50 60

In [7]:
for i in a:
    for j in i:
        print(j, end=' ')

10 20 30 40 50 60

In [8]:
# 반복문으로 2차원 리스트 만들기
a = []
for i in range(3):
    line = []
    for j in range(2):
        line.append(0)
    a.append(line)

print(a)

[[0, 0], [0, 0], [0, 0]]

In [11]:
a = [1.2,2.3,5.6,8.9]
a

[1.2, 2.3, 5.6, 8.9]

In [12]:
# 정수화
for i in range(len(a)):
    a[i] = int(a[i])

print(a)

[1, 2, 5, 8]

In [13]:
# 정수화
a = [1.2, 2.3, 5.6, 8.9]
a = list(map(int, a))
a

[1, 2, 5, 8]

In [14]:
a = (38, 20, 15, 46,79)

In [15]:
a.index(15)

2

In [16]:
a.count(20)

1

In [17]:
a = (10, 20, 30)
b = (1, 2, 3)

In [18]:
c = a+b
c

(10, 20, 30, 1, 2, 3)

In [19]:
d = a*3
d

(10, 20, 30, 10, 20, 30, 10, 20, 30)

In [20]:
20 in a

True

In [22]:
for i in d:
    print(i, end=' ')

10 20 30 10 20 30 10 20 30

In [25]:
print(min(d)); print(max(d))

10
30

In [26]:
a = []

for i in range(3):
    line = []
    for j in range(2):
        line.append(0)
    a.append(line)

print(a)

[[0, 0], [0, 0], [0, 0]]