In [1]:
input()

'good'

In [2]:
x = input('입력하세요.')

In [3]:
x

'sypark'

In [4]:
a = input('first number') # 10

In [5]:
b = input('second number') # 20

In [6]:
print(a+b)  # input값은 문자열!!

1020

In [7]:
a = int(input('first number'))  # 10

In [8]:
b = int(input('second number')) # 20

In [9]:
print(a+b)

30

In [10]:
c, d = input('문자열 2개를 입력해 주세요').split()   # 공백으로 분리

In [11]:
print(c) ; print(d)

hello
world

In [14]:
e, f = input('숫자2개를 입력해 주세요').split(',')  # 쉼표로 분리
e = int(e)
f = int(f)

In [15]:
print(e+f)

5

In [16]:
print(1,2,3)  # 한번에 출력

1 2 3

In [17]:
print('a', 'b', 'c')

a b c

In [20]:
print('a', 'b', 'c', sep='') # 붙여서 출력하기
print('a', 'b', 'c', sep= '*')

abc
a*b*c

In [22]:
print(1,2,3, sep='\n')  # 줄 바꿔서 출력하기

1
2
3

In [23]:
print('1\n2\n3')

1
2
3

In [24]:
10 == 10

True

In [25]:
2 != 10

True

In [26]:
10 > 20

False

In [27]:
True and True

True

In [28]:
True and False

False

In [29]:
True or False

True

In [30]:
10 == 10 and 10 == 20

False

In [31]:
10 == 10 or 10 == 20

True