In [1]:
# average score
a = 90; b= 75; c=55
avg = (a+b+c)/3
print(avg)

73.33333333333333

In [8]:
# odd or even
x = 17

if x%2 == 0:
    print('even')
else:
    print('odd')

odd

In [14]:
# id number
pin = "991120-1068234"
yyyymmdd = pin[:6]
num = pin[7:]
print(yyyymmdd)
print(num)

991120
1068234

In [20]:
pin = '990706-1652242'
print(pin[7])

1

In [23]:
# replace
a = "a:b:c:d"
b = a.replace(':', '#')
print(b)

a#b#c#d

In [25]:
# reverse sort
a = [1,3,9,4,2]
a.sort()
a.reverse()
print(a)

[9, 4, 3, 2, 1]

In [26]:
a = b = [1,2,3]
a[1] = 4
print(a); print(b)   # b도 변경됨

[1, 4, 3]
[1, 4, 3]

In [29]:
a = "Life is too short, you need python"

if 'whife' in a :
    print('wife')
elif 'python' in a and 'you' not in a:
    print('python')
elif 'shirt' not in a:
    print('shirt')
elif 'need' in a:
    print('need')
else:
    print('none')

shirt

In [30]:
# while 3 배수 sum
result = 0
i = 1

while i <= 1000:
    if i % 3 == 0:    #3으로 나누어 떨어지는 수는 3의 배수
        result += i
    i += 1

print(result)   # 166833

166833

In [32]:
# while

i = 0
while True:
    i += 1
    if i>10: break
    print("*"*i)

*
**
***
****
*****
******
*******
********
*********
**********

In [33]:
# 1 ~ 100
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [34]:
# average score
A = [70,60,55,75,95,90,80,80,85,100]
total = 0
for score in A:
    total += score
average = total/len(A)
print(average)

79.0

In [1]:
# 홀수 판별 함수
def odd(n):
    if n%2 == 1:
        return True
    else:
        return False
print(odd(3)); print(odd(4))

True
False